In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("emotion_sentimen_dataset.csv")

In [3]:
df.head()

   Unnamed: 0                                               text  Emotion
0           0  i seriously hate one subject to death but now ...     hate
1           1                 im so full of life i feel appalled  neutral
2           2  i sit here to write i start to dig out my feel...  neutral
3           3  ive been really angry with r and i feel like a...    anger
4           4  i feel suspicious if there is no one outside l...  neutral

In [4]:
df.tail()

        Unnamed: 0                                               text  Emotion
839550      839550  i feel like telling these horny devils to find...  neutral
839551      839551  i began to realize that when i was feeling agi...  neutral
839552      839552  i feel very curious be why previous early dawn...  neutral
839553      839553  i feel that becuase of the tyranical nature of...  neutral
839554      839554  i think that after i had spent some time inves...  neutral

In [5]:
df.shape

(839555, 3)

In [6]:
df.columns

Index(['Unnamed: 0', 'text', 'Emotion'], dtype='object')

In [7]:
df.Emotion.unique()

array(['hate', 'neutral', 'anger', 'love', 'worry', 'relief', 'happiness',
       'fun', 'empty', 'enthusiasm', 'sadness', 'surprise', 'boredom'],
      dtype=object)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839555 entries, 0 to 839554
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  839555 non-null  int64
 1   text        839555 non-null  object
 2   Emotion     839555 non-null  object
dtypes: int64(1), object(2)
memory usage: 19.2+ MB

In [9]:
df['id']=df['Unnamed: 0']

In [10]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

                                                text  Emotion  id
0  i seriously hate one subject to death but now ...     hate   0
1                 im so full of life i feel appalled  neutral   1
2  i sit here to write i start to dig out my feel...  neutral   2
3  ive been really angry with r and i feel like a...    anger   3
4  i feel suspicious if there is no one outside l...  neutral   4

In [11]:
df=df.set_index('id')

In [12]:
import re

def supprimer_liens_et_caracteres_speciaux(phrase):
    # Supprimer les liens
    phrase_sans_liens = re.sub(r'http\S+', '', phrase)
    
    # Supprimer les caractères spéciaux
    phrase_sans_caracteres_speciaux = re.sub(r'[^a-zA-Z0-9\s]', '', phrase_sans_liens)
    
    return phrase_sans_caracteres_speciaux

In [13]:
df['text'] = df['text'].apply(supprimer_liens_et_caracteres_speciaux)

In [14]:
df.head()

                                                 text  Emotion
id
0   i seriously hate one subject to death but now ...     hate
1                  im so full of life i feel appalled  neutral
2   i sit here to write i start to dig out my feel...  neutral
3   ive been really angry with r and i feel like a...    anger
4   i feel suspicious if there is no one outside l...  neutral

In [15]:
!pip3 install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /home/rsu/.local/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: tqdm in /home/rsu/.local/lib/python3.10/site-packages (from nltk) (4.66.1)
Requirement already satisfied: click in /home/rsu/.local/lib/python3.10/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /home/rsu/.local/lib/python3.10/site-packages (from nltk) (1.4.0)
Requirement already satisfied: regex>=2021.8.3 in /home/rsu/.local/lib/python3.10/site-packages (from nltk) (2024.4.16)

In [16]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize

import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
#nltk.download('punkt')

In [17]:
def tokeniz(phrase):
    return sent_tokenize(phrase)

df['text'] = df['text'].apply(lambda x:tokeniz(x))

In [18]:
df.head()

                                                 text  Emotion
id
0   [i seriously hate one subject to death but now...     hate
1                [im so full of life i feel appalled]  neutral
2   [i sit here to write i start to dig out my fee...  neutral
3   [ive been really angry with r and i feel like ...    anger
4   [i feel suspicious if there is no one outside ...  neutral

In [19]:
type(df.text)

pandas.core.series.Series

In [20]:
df['text'] = df['text'].apply(lambda x:x[0])

In [21]:
df.head()

                                                 text  Emotion
id
0   i seriously hate one subject to death but now ...     hate
1                  im so full of life i feel appalled  neutral
2   i sit here to write i start to dig out my feel...  neutral
3   ive been really angry with r and i feel like a...    anger
4   i feel suspicious if there is no one outside l...  neutral

In [22]:
import unicodedata

def normaliser_texte(texte):
    # Mettre en minuscules
    texte = texte.lower()
    # Supprimer les accents
    texte = ''.join(c for c in unicodedata.normalize('NFD', texte) if unicodedata.category(c) != 'Mn')
    return texte

In [23]:
df['text'] = df['text'].apply(normaliser_texte)

In [24]:
df.head()

                                                 text  Emotion
id
0   i seriously hate one subject to death but now ...     hate
1                  im so full of life i feel appalled  neutral
2   i sit here to write i start to dig out my feel...  neutral
3   ive been really angry with r and i feel like a...    anger
4   i feel suspicious if there is no one outside l...  neutral

In [25]:
from nltk.corpus import stopwords
#nltk.download('stopwords')

In [26]:
stop_words = set(stopwords.words('english'))

In [27]:
def suppression_top_word(texte):

    # Tokenization des mots
    mots = word_tokenize(texte)
    
    # Suppression des stopwords
    mots_sans_stopwords = [mot for mot in mots if mot.lower() not in stop_words]
    
    # Reconstitution du texte sans les stopwords
    texte_sans_stopwords = ' '.join(mots_sans_stopwords)
    return texte_sans_stopwords

In [28]:
df['text'] = df['text'].apply(suppression_top_word)
df.head()

                                                 text  Emotion
id
0   seriously hate one subject death feel reluctan...     hate
1                          im full life feel appalled  neutral
2   sit write start dig feelings think afraid acce...  neutral
3   ive really angry r feel like idiot trusting fi...    anger
4   feel suspicious one outside like rapture happe...  neutral

In [29]:
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.corpus import wordnet

# Télécharger les ressources nécessaires pour NLTK (une seule fois)
#nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

# Initialisation des outils de lemmatisation et de stemming
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

[nltk_data] Downloading package wordnet to /home/rsu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/rsu/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [30]:
def lemmatisation(texte):
    # Tokenization des mots
    mots = word_tokenize(texte)
    
    # Lemmatisation
    lemmes = [lemmatizer.lemmatize(mot, get_wordnet_pos(mot)) for mot in mots]
    
    # Stemming
    
    return lemmes


def stemming(texte):
    # Tokenization des mots
    mots = texte
    
    # Lemmatisation
    
    # Stemming
    racines = [stemmer.stem(mot) for mot in mots]
    
    return  racines

# Fonction pour mapper les parties du discours de WordNet à celles de NLTK
def get_wordnet_pos(mot):
    tag = nltk.pos_tag([mot])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)  # Par défaut, considérer les mots comme des noms

In [31]:
df['text'] = df['text'].apply(lemmatisation)
df.head()

                                                 text  Emotion
id
0   [seriously, hate, one, subject, death, feel, r...     hate
1                    [im, full, life, feel, appalled]  neutral
2   [sit, write, start, dig, feeling, think, afrai...  neutral
3   [ive, really, angry, r, feel, like, idiot, tru...    anger
4   [feel, suspicious, one, outside, like, rapture...  neutral

In [32]:
df['text'] = df['text'].apply(stemming)
df.head()

                                                 text  Emotion
id
0   [serious, hate, one, subject, death, feel, rel...     hate
1                       [im, full, life, feel, appal]  neutral
2   [sit, write, start, dig, feel, think, afraid, ...  neutral
3   [ive, realli, angri, r, feel, like, idiot, tru...    anger
4   [feel, suspici, one, outsid, like, raptur, hap...  neutral

In [37]:
df['text_as_string'] = df['text'].apply(lambda x: ' '.join(x))
df.head()

,text,Emotion,text_as_string
id,,,
0,"[serious, hate, one, subject, death, feel, rel...",hate,serious hate one subject death feel reluct drop
1,"[im, full, life, feel, appal]",neutral,im full life feel appal
2,"[sit, write, start, dig, feel, think, afraid, ...",neutral,sit write start dig feel think afraid accept p...
3,"[ive, realli, angri, r, feel, like, idiot, tru...",anger,ive realli angri r feel like idiot trust first...
4,"[feel, suspici, one, outsid, like, raptur, hap...",neutral,feel suspici one outsid like raptur happen someth

In [38]:
tfidf_vectorizer = TfidfVectorizer()

# Calcul des vecteurs TF-IDF pour la colonne "text_as_string"
tfidf_matrix = tfidf_vectorizer.fit_transform(df['text_as_string'])

In [40]:
print("\nNoms de fonction (mots) correspondant aux colonnes:")
print(tfidf_vectorizer.get_feature_names_out())

Noms de fonction (mots) correspondant aux colonnes:
['aa' 'aaa' 'aaaa' ... 'zzzz' 'zzzzzz' 'zzzzzzz']